.breathing-widget {
  position: absolute; /* Position relative to .input-container */
  top: 8rem; /* Adjust to place the circle above the input */
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  pointer-events: none; /* Prevent interaction with the animation */
}

.breathing-circle {
  width: 12vw; /* Start as a small circle */
  height: 12vw; /* Fixed height for the circle */
  background: linear-gradient(45deg, #f8a1c4, #f7c4d5); /* Gradient for color */
  border-radius: 50%; /* Makes it a perfect circle */
  transform-origin: center; /* Ensure it expands from the center */
  animation: breathing-circle-animation 19s ease-in-out infinite;
  box-shadow: 0 0 3px rgba(248, 161, 196, 0.3), 0 0 6px rgba(248, 161, 196, 0.2); /* Subtle glow effect */
}


/* Animation for the breathing circle */
@keyframes breathing-circle-animation {
  0% {
    transform: scale(0.2);  /* Start from the center as a dot */
    opacity: 0.8;
  }
  40% {
    transform: scale(1);  /* Expands to full size */
    opacity: 1;
  }
  100% {
    transform: scale(0.2);  /* Contracts back to a dot */
    opacity: 0.8;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
    align-items: center;
  }

  .completed-tasks {
    width: 90%;
    margin-bottom: 2rem;
  }

  .input-section,
  .task-section {
    width: 90%;
  }

  .breathing-widget {
    top: -2rem;  /* Adjust position for smaller screens like mobile */
  }
}
